.el-form-item label{font-size: 12px;}
.el-select{width: 100%;}
.opr-btn{text-align: right;}

/*step*/
.el-steps{margin-bottom: 10px;}
.el-step.is-simple .el-step__title{font-size: 13px;}
.tip-info .iconfont{padding-left: 5px; font-size: 20px; color: #409eff;}

.step-success{text-align: center; margin: 30px auto; padding: 30px 0px; background: #f5f7fa; width: 50%;}
.step-success .title{font-size: 16px; color: #01a13b;line-height: 40px;}
.step-success .go-link{line-height: 40px; font-size: 14px; color: #666;}
.step-success a{text-decoration: none;color: #01a13b;}
.auto-link{line-height: 40px; font-size: 12px; color: #999;}
.auto-link strong{color: #01a13b;font-weight: bold; font-size: 16px;}